<section class="hosts">
  <%- @hosts.each do |host| %>
    <h2><%= host.label %></h2>

    <table border="1" cellpadding="4">
      <thead>
        <th>Check</th>
        <th>Result</th>
        <th>Check detail</th>
        <th>Outcome</th>
        <th>When</th>
      </thead>

      <tbody>

        <%- host.results_newest_first.limit(10).decorate.each do |result| %>
          <tr>
            <td><%= result.check_type %></td>
            <td class=<%= result.css_class %>><%= result.status %></td>
            <td><%= result.check_detail %></td>
            <td width="500px"><%= result.outcome_detail %></td>
            <td><%= result.created_at %></td>
          </tr>
        <%- end %>

        </tbody>
      </table>
    </ul>
  <%- end %>
</section>
