<section class="hosts">
  <%- @hosts.each do |host| %>
    <h2><%= host.label %></h2>

    <table border="1" cellpadding="4" width="100%">
      <thead>
        <th>Check</th>
        <th>Check detail</th>
        <th>Result</th>
        <th>Response</th>
        <th>Checked on</th>
        <th>Started At</th>
        <th>Responded At</th>
      </thead>

      <tbody>

        <%- host.most_recent_results.each do |result| %>
          <tr>
            <td><%= result.check_type %></td>
            <td><%= result.check_detail %></td>
            <td class=<%= result.css_class %>><%= result.status %></td>
            <td width="500px"><%= result.response_detail %></td>
            <td><%= result.checked_on %></td>
            <td><%= result.created_at %></td>
            <td><%= result.checked_at %></td>
          </tr>
        <%- end %>

        </tbody>
      </table>
    </ul>
  <%- end %>
</section>
